/* 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 */

html, body, div, span, p, li, ul, a, h2 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	overflow: hidden;
}

html {
	font-size: 16pt;
}

h1 {
	font-size: 26pt;
}
h2{
	font-size: 20pt;
}

.stronger {
	font-weight: bold;
	line-height: 1.3em;
}

@media screen and (max-width: 1680px) {
	html {
	font-size: 12pt;
}}

@media screen and (max-width: 736px) {
	html {
	font-size: 11pt;
}}

@media screen and (max-width: 360px) {
html {
	font-size: 10pt;
}}

body {
	background: #23222b;
	color: #ffffff;
	font-family: "Source Sans Pro", sans-serif;
	letter-spacing: 0.2rem;
	font-weight: 300;
	font-size: 1rem;
	line-height: 1;
	position: relative;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: relative;
	min-height: 100vh;
	width: 100%;
	padding: 4rem 2rem;
	margin-top: 8rem;
	z-index: 3;
	overflow: hiden;
}

#header {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
	/* background-image: -moz-radial-gradient(rgba(0, 0, 0, 0.25) 25%, transparent 55%);
	background-image: -webkit-radial-gradient(rgba(0, 0, 0, 0.25) 25%, transparent 55%);
	background-image: -ms-radial-gradient(rgba(0, 0, 0, 0.25) 25%, transparent 55%);
	background-image: radial-gradient(rgba(0, 0, 0, 0.25) 25%, transparent 55%); */
	max-width: 100%;
	position: fixed;
}

#header .content {
	border-style: solid;
	border-color: #ffffff;
	border-top-width: 1px;
	border-bottom-width: 1px;
	max-width: 100%;
	margin-bottom: 5rem;
}

#header .content {
	transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in-out;
	transition-delay: 0.25s;
	padding: 3rem 2rem;
	max-height: 40rem;
	overflow: hidden;
	justify-content: center;
}

#header nav ul {
	display: flex;
	margin-bottom: 0;
	list-style: none;
	padding-left: 0;
	border: solid 1px #ffffff;
	border-radius: 5px;
}

#header nav ul li {
	padding-left: 0;
	border-left: solid 1px #ffffff;
	padding: 0.25rem 1rem;
}

#header nav ul li a {
	display: block;
	padding: 0.25rem;
	letter-spacing: 0.2rem;
}

ol, ul {
	list-style: none;
}

li {
	line-height: 1.45rem;
}

a {
	color: #dcdfe8;
	text-decoration: none;
}

#header li:hover{
	background-color: rgba(255, 255, 255, 0.075);
}

/* Unopened lightbox */
.lightbox {
  display: none;
}

/* Opened lightbox */
.lightbox:target {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
	/* align-items: center; */
}

/* Lightbox content */
.lightbox figcaption {
  width: 50rem;
  position: relative;
  padding: 1.5em;
	background-color: rgba(27, 31, 34, 0.85);
	letter-spacing: normal;
	font-size: 20px;
}

/* Close button */
.lightbox .close {
  position: relative;
  display: block;
}

.lightbox .close::after {
  right: -1rem;
  top: -1rem;
  width: 2rem;
  height: 2rem;
  position: absolute;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 5px;
  color: white;
  content: "×";
  cursor: pointer;
}

/* Lightbox overlay */
.lightbox .close::before {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0,.7);
  content: "";
  cursor: default;
}
